## Deliverable 3. Create a Travel Itinerary Map.

In [72]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [73]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Samarai,PG,81.37,broken clouds,-10.6167,150.6667,Nuli Sapi
1,2,Sabang,ID,83.37,overcast clouds,5.8933,95.3214,Hotel Citra
2,5,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,8,Phan Thiet,VN,83.26,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
4,10,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Posada Villaven C.A.

In [68]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Dwarka",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Dwarka",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Kodinar",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Pipri",:]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Radhanpur",:] 

#vacation_start

In [75]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])
start

(22.2394, 68.9678)

In [76]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_4stops = gmaps.directions_layer(
        start=start, end=end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_4stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,454,Dwarka,IN,84.90,overcast clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
1,650,Kodinar,IN,84.85,overcast clouds,20.7903,70.7031,residency of N.B vadhel
2,617,Pipri,IN,82.83,broken clouds,19.8000,75.5333,Sukhana River nilu and rushi home
3,417,Radhanpur,IN,87.04,few clouds,23.8333,71.6000,YASH HOTEL

In [79]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [84]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(21.0, 70.0), zoom_level=5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))